mixin yandex-counter
	// Yandex.Metrika counter
	script(type="text/javascript").
		(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter47608978 = new Ya.Metrika({ id:47608978, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");

	noscript: div: img(src="https://mc.yandex.ru/watch/47608978" style="position:absolute; left:-9999px;" alt="")

mixin header
	header.header&attributes(attributes)
		.header--btns.left
			+btn-group ([{url: github, caption: 'github'}, {url: telegram, caption: 'telegram'}])

		.header--logo= name
			span= position

		.header--btns.right: a(href='mailto:' + email).btn morozov@fred.md

mixin btn-group (items)
	.btn-group
		each item in items
			a(href='https://' + item.url target="_blank")= item.caption

mixin photo (photoID, street, city)
	.photo(style='background-image: url(img/photo-' + photoID + '.jpg)')&attributes(attributes)
		+copyrights (street, city)

mixin copyrights (street, city)
	.copyrights&attributes(attributes) #[span #{street}]#[br]#{city}, Italy

mixin tile (link, photoID, caption)
	a(href=link style='background-image: url(img/tile-' + photoID + '.jpg)').tile&attributes(attributes)
		span= caption