- var css_version = 4

- var title = 'Fred Morozov - Front End Developer'

- var meta_description = 'Hi. I\'m Fred, I make sites. Front End developer located in Russia.'
- var meta_keywords    = 'Developer, Front End, Front End Developer, React, Jade, LESS, CSS, HTML, React.js'

- var og_title       = title
- var og_url         = 'https://fred.md/'
- var og_description = meta_description
- var og_image       = 'https://fred.md/img/og.jpg'

- var github    = 'irbisdev'
- var telegram  = 'fredmd'
- var instagram = 'irbisdev'
- var vkontakte = 'fred.morozov'
- var mail      = 'morozov@fred.md'

- var resume = 'https://fred.md/Fred_Morozov_Resume.pdf'

mixin social (icon, domain, username)
	a(href=('https://' + domain + '/' + username) target="_blank").page--social: i(class='icon-' + icon)

doctype html
html
	head
		meta(charset="utf-8")

		title= title
		meta(name="description" content=meta_description)
		meta(name="keywords" content=meta_keywords)

		meta(property="og:title" content=og_title)
		meta(property="og:url" content=og_url)
		meta(property="og:description" content=og_description)
		meta(property="og:image" content=og_image)

		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
		meta(name="format-detection" content="telephone=no")

		link(rel="shortcut icon" href="favicon.png" type="image/png")

		link(rel="stylesheet" type="text/css" href='css/style.css?ver=' + css_version)

	body
		.page
			.page--in
				.page--title Fred Morozov
				.page--socials
					+social ('gh', 'github.com', github)
					+social ('tg', 'telegram.me', telegram)
					+social ('ig', 'instagram.com', instagram)
					+social ('vk', 'vk.com', vkontakte)

					a(href='mailto:' + mail).page--social: i.icon-em

				.page--btn: a(href=resume target="_blank").btn #[i.icon-pdf]Open resume

			.copyrights #[span Via Luigi Maria Brunelli, Milan, Italy]#[br] Photo by #[span F. Morozov]

		// Yandex.Metrika counter
		script(type="text/javascript").
			(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter47608978 = new Ya.Metrika({ id:47608978, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");

		noscript: div: img(src="https://mc.yandex.ru/watch/47608978" style="position:absolute; left:-9999px;" alt="")