include ./_variables.jade

doctype html
html
	head
		meta(charset="utf-8")

		title Projects — #{name}
		meta(name="description" content=meta_description)
		meta(name="keywords" content=meta_keywords)

		meta(property="og:title" content=og_title)
		meta(property="og:url" content=og_url)
		meta(property="og:description" content=og_description)
		meta(property="og:image" content=og_image)

		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
		meta(name="format-detection" content="telephone=no")

		link(rel="shortcut icon" href="favicon.png" type="image/png")

		link(rel="stylesheet" type="text/css" href='css/style.css?ver=' + css_version)

	body
		.p-page#app
			.p-header(v-if="dataLoaded")
				.p-header--project: select(v-model="selectedProject" @change="selectPage")
					option(value="-1" disabled selected) Выберите проект
					option(v-for="(project, index) in projects" v-bind:value="index") {{ project.name }}

				.p-header--page: select(v-if="canRender()" v-model="selectedPage")
					option(v-for="page in projects[selectedProject].pages" v-bind:value="page") {{ page }}

			.p-frame(v-if="dataLoaded")
				iframe(v-if="canRender()" v-bind:src="getPage()")

		// Yandex.Metrika counter
		script(type="text/javascript").
			(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter47608978 = new Ya.Metrika({ id:47608978, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");

		noscript: div: img(src="https://mc.yandex.ru/watch/47608978" style="position:absolute; left:-9999px;" alt="")

		script(type="text/javascript" src="examples/vue.js")
		script(type="text/javascript" src="examples/vue-resource.js")
		script(type="text/javascript" src="examples/app.js")