include ./_variables.jade
include ./_components.jade

doctype html
html
	head
		meta(charset="utf-8")

		title Projects — #{name}
		meta(name="description" content=meta_description)
		meta(name="keywords" content=meta_keywords)

		meta(property="og:title" content=og_title)
		meta(property="og:url" content=og_url)
		meta(property="og:description" content=og_description)
		meta(property="og:image" content=og_image)

		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
		meta(name="format-detection" content="telephone=no")

		link(rel="shortcut icon" href="favicon.png" type="image/png")

		link(rel="stylesheet" type="text/css" href='css/style.css?ver=' + css_version)

	body
		.p-page#projects
			.p-header(v-if="dataLoaded")
				a(href=home).p-header--back Return to Fred.md

				.p-header--project: select(v-model="selectedProject" @change="selectPage")
					option(value="-1" disabled selected) Выберите проект
					option(v-for="(project, index) in projects" v-bind:value="index") {{ project.name }}

				.p-header--page: select(v-if="canRender()" v-model="selectedPage")
					option(v-for="page in projects[selectedProject].pages" v-bind:value="page") {{ page }}

			.p-frame(v-if="dataLoaded")
				iframe(v-if="canRender()" v-bind:src="getPage()")

		+yandex-counter

		script(type="text/javascript" src="js/vue.js")
		script(type="text/javascript" src="js/vue-resource.js")
		script(type="text/javascript" src="js/app.js")